<div class="container">
  <div class="form-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          id="exampleInputEmail1"
          placeholder="Enter email"
          formControlName="email"
        />
        <span
          *ngIf="
            loginForm.get('email')?.hasError('required') &&
            (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
          "
          class="text-danger"
        >
          Email is required.
        </span>
        <span
          *ngIf="loginForm.get('email')?.errors?.['pattern']"
          class="text-danger"
          >Please enter valid email format</span
        >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          id="exampleInputPassword1"
          placeholder="Password"
          formControlName="password"
        />
        <span
          *ngIf="
            loginForm.get('password')?.hasError('required') &&
            (loginForm.get('password')?.dirty ||
              loginForm.get('password')?.touched)
          "
          class="text-danger"
        >
          Password is required.
        </span>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="loginForm.invalid"
      >
        Submit
      </button>
      <p class="mt-2 text-center">
        Don't have an account?
        <a class="link-text" [routerLink]="['/register']">Register</a>
      </p>
    </form>
  </div>
</div>
