<ng-template appViewContainerRef></ng-template>
<form [formGroup]="postForm" (ngSubmit)="addPost()" class="post-form">
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      formControlName="title"
    />
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea
      class="form-control"
      id="description"
      formControlName="description"
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!postForm.valid">
    Submit
  </button>
</form>
