.navbar {
  background-color: #bbc8fd;
}
.nav-item {
  a {
    text-decoration: none;
    color: black;
    margin: 10px;
  }
  .logout-button {
    background-color: #dc3545;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: #c82333;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
a.active {
  font-size: 18px;
  font-weight: bolder;
}
