<div class="container">
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="title">Title</label>
      <input type="text" formControlName="title" id="title" />
    </div>
    <div>
      <label for="category">Category</label>
      <input type="text" formControlName="category" id="category" />
    </div>
    <div>
      <label for="price">Price</label>
      <input type="number" formControlName="price" id="price" />
    </div>
    <div>
      <label for="author">Author</label>
      <input type="text" formControlName="author" id="author" />
    </div>
    <div>
      <label for="description">Description</label>
      <textarea formControlName="description" id="description"></textarea>
    </div>
    <div>
      <label for="file">Add Book Image</label>
      <input type="file" (change)="handleFileInput($event)" id="file" />
    </div>
    <button type="submit">Add Book</button>
  </form>
</div>

<!-- <div class="row">
    <div class="col-xs-12">
      <p>Add Book</p>
      <div class="form-container">
        <label>Book Name</label>
        <input type="text" class="form-control"  />
        <label>Book Author Name</label>
        <input type="text" class="form-control"  />
        <label>Book Price</label>
        <input type="text" class="form-control"  />
        <label>Book Description</label>
        <textarea
          name="textareaName"
          id="textareaId"
          rows="4"
          cols="50"
          class="form-control"
          #bookDescriptionRef
        ></textarea>
        <br />
        <button
          class="btn btn-primary"
          (click)="onAddBookEvent()"
        >
          Add Book
        </button>
      </div>
    </div>
  </div> -->
