.row {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;

  .col-xs-12 {
    width: 100%;

    .form-container {
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 5px;
    }
    .form-control {
      margin-bottom: 10px;
    }

    p {
      font-weight: bold;
    }

    button {
      margin-top: 10px;
    }
  }
}
