<app-book-action
  [book]="selectedBook"
  (bookAdded)="addBook($event)"
  [isEditMode]="isEditMode"
  (bookEdited)="updateBook($event)"
></app-book-action>

<div class="row">
  <ng-container *ngIf="bookList.length > 0; else noBooks">
    <div class="col-md-3 mb-3" *ngFor="let book of bookList; let i = index">
      <app-book
        [book]="book"
        (deleteBookEvent)="deleteConfirmation(i)"
        (editBookEvent)="editBook(i + 1)"
      ></app-book>
    </div>
  </ng-container>
  <ng-template #noBooks>
    <div class="col-12">
      <p class="text-center text-danger fs-4">No books found.</p>
    </div>
  </ng-template>
</div>

<app-confirm-dialog-box (confirmed)="onDeleteConfirmed($event)">
</app-confirm-dialog-box>
