<div class="container">
  <!-- Search bar -->
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-4 mb-4">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Search blogs..."
          [(ngModel)]="searchQuery"
        />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="search()">
            Search
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Blog card -->
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let blog of filteredBlogs">
      <div class="card">
        <img [src]="blog.imageUrl" class="card-img-top" alt="Blog Image" />
        <div class="card-body">
          <h5 class="card-title">{{ blog.title }}</h5>
          <p class="card-text">{{ blog.description }}</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
