.container {
  margin-top: 50px;
}

.registration-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;

  input,
  select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      border-color: #007bff;
      box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
      outline: none;
    }

    &.ng-touched.ng-invalid {
      border-color: #dc3545;
    }

    &.ng-touched.ng-valid {
      border-color: #1ac000;
    }
  }
}

label {
  font-weight: bold;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  transition: border-color 0.3s ease;
}

.form-control:focus {
  border-color: #4caf50;
}

.text-danger {
  color: #dc3545;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin: 20px auto;
}

.btn-primary:disabled {
  background-color: #b0c4de;
  cursor: not-allowed;
}

.link-text {
  color: #007bff;
  text-decoration: underline;
}

.radio-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.radio-button {
  display: flex;
  align-items: center;
}

.radio-button input[type="radio"] {
  margin-right: 5px;
}

.link-text:hover {
  text-decoration: none;
}
