<div class="login-container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="userName"
        [(ngModel)]="userName"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="passWord"
        [(ngModel)]="passWord"
        required
      />
    </div>
    <button type="submit">Login</button>
  </form>
</div>
