<div class="card mt-4">
  <div class="card-body text-center">
    <div class="div-image"><img [src]="product.image" class="image" /></div>
    <div class="title mt-2">
      <h6 class="card-title fw-bold text-primary">{{ product.title }}</h6>
    </div>
    <h6 class="card-text">Price: {{ product.price }}</h6>
    <p class="text-muted fw-bold">
      @if(product.rating){ Rating: {{ product.rating.rate }} ({{
        product.rating.count
      }}) }
      @else {<p>No ratings Available.</p>}
    </p>
  </div>

  <div class="card-footer text-center">
    
    @defer (on interaction(button)) {
    <app-product-description
      [productDescription]="product.description"
    ></app-product-description>
    }@placeholder{
      <button class="btn btn-primary my-3" #button>View description</button>
    }
  </div>
</div>
