<section class="container">
  <header>Bacancy Project Registration Form</header>

  <form class="form" [formGroup]="companyForm" (ngSubmit)="onSubmit()">
    <!-- company form -->
    <div class="input-box">
      <input
        type="text"
        placeholder="Company Name"
        name="name"
        formControlName="name"
      />
      <span
        class="help-text"
        *ngIf="
          companyForm.get('name')?.hasError('required') &&
          companyForm.get('name')?.dirty
        "
      >
        Company Name is required.
      </span>
      <span
        class="help-text"
        *ngIf="
          companyForm.get('name')?.hasError('isWhiteSpace') &&
          companyForm.get('name')?.dirty
        "
      >
        Company Name should not start with Space.
      </span>
    </div>
    <div class="input-box">
      <input
        type="text"
        placeholder="Company Email"
        name="email"
        formControlName="email"
      />
      <span
        class="help-text"
        *ngIf="
          companyForm.get('email')?.hasError('required') &&
          companyForm.get('email')?.dirty
        "
      >
        Email is required.
      </span>
      <span
        class="help-text"
        *ngIf="
          companyForm.get('email')?.hasError('invalidEmail') &&
          companyForm.get('email')?.dirty
        "
      >
        Please Enter a Valid Email.
      </span>
    </div>
    <div class="input-box">
      <input
        type="text"
        placeholder="Company Website"
        name="website"
        formControlName="website"
      />
      <span
        class="help-text"
        *ngIf="
          companyForm.get('website')?.hasError('required') &&
          companyForm.get('website')?.dirty
        "
      >
        Website is required.
      </span>
      <span
        class="help-text"
        *ngIf="
          companyForm.get('website')?.hasError('isWhiteSpace') &&
          companyForm.get('website')?.dirty
        "
      >
        Website should not Start With Space.
      </span>
    </div>
    <div class="input-box">
      <input
        type="text"
        placeholder="Company Phone Number"
        name="companyPhoneNumber"
        formControlName="companyPhoneNumber"
      />
      <span
        class="help-text"
        *ngIf="
          companyForm
            .get('companyPhoneNumber')
            ?.hasError('indianPhoneNumber') &&
          companyForm.get('companyPhoneNumber')?.dirty
        "
      >
        Please enter a valid Indian phone number.
      </span>
    </div>
    <button type="button" class="submit-btn" (click)="addProject()">
      Add Project
    </button>

    <!-- Project Form -->
    <div *ngIf="companyForm.get('projects')">
      <div formArrayName="projects">
        <div
          *ngFor="let project of getProjectsControl(); let i = index"
          [formGroupName]="i"
        >
          <h3>Project {{ i + 1 }}</h3>
          <div class="input-box">
            <label for="projectName">Project Name</label>
            <input type="text" id="projectName" formControlName="projectName" />
            <span
              class="help-text"
              *ngIf="
                project.get('projectName')?.hasError('required') &&
                project.get('projectName')?.dirty
              "
            >
              Project Name is required.
            </span>
            <span
              class="help-text"
              *ngIf="
                project.get('projectName')?.hasError('isWhiteSpace') &&
                project.get('projectName')?.dirty
              "
            >
              Project Name should not Start or End with Space.
            </span>
            <span
              class="help-text"
              *ngIf="project.get('projectName')?.hasError('projectNameExists')"
            >
              Project Name already exists.
            </span>
          </div>

          <div class="input-box">
            <label for="description">Description</label>
            <input
              type="textarea"
              id="description"
              formControlName="description"
            />
            <span
              class="help-text"
              *ngIf="
                project.get('description')?.hasError('required') &&
                project.get('description')?.dirty
              "
            >
              Project Description is required.
            </span>
          </div>

          <div class="input-box">
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" formControlName="startDate" />
            <span
              class="help-text"
              *ngIf="
                project.get('startDate')?.hasError('required') &&
                project.get('startDate')?.dirty
              "
            >
              Project Start Date is required.
            </span>
            <span
              class="help-text"
              *ngIf="
                project.get('startDate')?.hasError('isStartDateValid') &&
                project.get('startDate')?.touched
              "
            >
              Project End Date must greater then the Start Date.
            </span>
          </div>

          <div class="input-box">
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" formControlName="endDate" />
            <span
              class="help-text"
              *ngIf="
                project.get('endDate')?.hasError('required') &&
                project.get('endDate')?.dirty
              "
            >
              Project End Date is required.
            </span>
            <span
              class="help-text"
              *ngIf="
                project.get('endDate')?.hasError('isEndDateValid') &&
                project.get('endDate')?.touched
              "
            >
              Project End Date must greater then the Start Date.
            </span>
          </div>

          <button type="button" class="submit-btn" (click)="removeProject(i)">
            Remove Project
          </button>
        </div>
      </div>
    </div>

    <div class="column">
      <button type="submit" [disabled]="!companyForm.valid" class="submit-btn">
        submit
      </button>
    </div>
  </form>
</section>

<div class="container-fluid mt-3 company-details" *ngIf="isDisplayCompanyData">
  <div class="row">
    <div class="offset-md-3 col-md-6 border p-3">
      <h4 class="text-center">Company Details</h4>
      <p>Name: {{ companyFormData.name }}</p>
      <p>Email: {{ companyFormData.email }}</p>
      <p>Phone: {{ companyFormData.companyPhoneNumber }}</p>
      <p>Website: {{ companyFormData.website }}</p>
      <p>Projects:</p>
      <ul>
        <li
          class="mt-2"
          *ngFor="let project of companyFormData.projects; let i = index"
        >
          <h4>Project {{ i + 1 }}</h4>
          <p>ProjectName: {{ project.projectName }}</p>
          <p>description:{{ project.description }}</p>
          <p>Start: {{ project.startDate }}</p>
          <p>End: {{ project.endDate }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
