<!-- Task1: The [ngSwitch] directive in a container checks for a condition. The
conditions to check are set by ngSwitchCase directives on elements inside the
container. If a condition is met, that element is shown. If no conditions are
met, the element with ngSwitchDefault is shown. -->

<div appCaptilizeOnHover>
  Task2: When you hover over this text, it will be capitalized and highlighted
  with yellow color.
</div>

<br />

<div appClickCounter id="clickCounter">Task3: Total Clicks: 0</div>

<br />

<app-task-four></app-task-four>
