<app-cards></app-cards>
<hr />
<hr />

<div class="h-100 d-flex align-items-center justify-content-center">
  Select Location:
  <select [(ngModel)]="location">
    <option value="">-- Select --</option>
    <option value="home">Home</option>
    <option value="college">College</option>
    <option value="company">Company</option>
    <option value="school">School</option>
    <option value="city">City</option>
  </select>

  <ng-container [ngSwitch]="location">
    <div *ngSwitchCase="'home'">
      <app-home></app-home>
    </div>
    <div *ngSwitchCase="'college'">
      <app-college></app-college>
    </div>
    <div *ngSwitchCase="'company'">
      <app-company></app-company>
    </div>
    <div *ngSwitchCase="'school'">
      <app-not-found></app-not-found>
    </div>
    <div *ngSwitchCase="'city'">
      <app-not-found></app-not-found>
    </div>
  </ng-container>
</div>
<hr />
<hr />

<div class="h-100 d-flex align-items-center justify-content-center">
  <table>
    <thead>
      <tr>
        <td>ItemIndex</td>
        <td>ItemName</td>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let item of arrayItems;
          let i = index;
          let first = first;
          let last = last;
          let odd = odd;
          let even = even
        "
        [ngClass]="{
          'light-yellow': first,
          'light-orange': last,
          'light-blue': odd && !first && !last,
          'light-pink': even && !first && !last
        }"
      >
        <td>
          {{ i + 1 }}
        </td>
        <td>
          {{ item }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
<hr />
<hr />

<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="card" style="width: 18rem">
    <img src="assets/card-image.jpg" class="card-img-top" alt="card-image" />
    <ul class="list-group list-group-flush">
      <li
        class="list-group-item"
        [ngStyle]="{ 'background-color': isBool ? 'yellow' : 'green' }"
      >
        A first item
      </li>
      <li
        class="list-group-item"
        [ngClass]="{ 'style-class-one': isBool, 'style-class-two': !isBool }"
      >
        A second item
      </li>
    </ul>

    <div class="card-body">
      <button
        class="btn btn-primary"
        (click)="toggleStyles()"
        class="card-link"
      >
        toggle-style
      </button>
    </div>
  </div>
</div>
