.light-blue {
  background-color: rgb(180, 231, 249);
}

.light-pink {
  background-color: rgb(254, 181, 192);
}

.light-yellow {
  background-color: rgb(251, 251, 161);
}

.light-orange {
  background-color: rgb(252, 190, 118);
}

table {
  border: 1px solid black;
  td {
    padding: 3px;
    border: 1px solid rgb(0, 0, 0);
  }
}

.style-class-one {
  background-color: yellow;
}
.style-class-two {
  background-color: aqua;
}
