.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.pink {
  background-color: pink;
}

.default {
  background-color: white;
}
