.navbar {
  background-color: #bbc8fd;
}
.nav-item {
  a {
    text-decoration: none;
    color: black;
    margin: 10px;
  }
  .logout {
    cursor: pointer;
  }
}
a.active {
  font-size: 18px;
  font-weight: bolder;
}
