.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.div-image {
  height: 13rem;
  width: 100%;
}

.title {
  height: 5rem;
}

.card {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
