<ng-container *ngIf="usersList && usersList.length > 0; else noData">
  <div class="container my-3">
    <div class="row">
      <div class="col-md-4" *ngFor="let user of usersList; let i = index">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              Name: {{ user.firstName }} {{ user.lastName }}
            </h5>
            <p class="card-text">Email: {{ user.email }}</p>
            <p class="card-text">Gender: {{ user.gender }}</p>
            <p class="card-text">Hobbies: {{ user.hobbies }}</p>
            <div class="status-container">
              <div class="status">
                Current Status: {{ user.isActive ? "Active" : "DeActive" }}
              </div>
              <button class="btn btn-danger" (click)="deleteUser(i)">
                Delete
              </button>
              <i
                class="toggle-icon"
                [ngClass]="
                  user.isActive
                    ? 'fa fa-toggle-on text-success'
                    : 'fa fa-toggle-off text-secondary'
                "
                [ngStyle]="{
                  'font-size': '40px',
                  'margin-left': '10px',
                  cursor: 'pointer'
                }"
                (click)="changeStatus(user)"
              ></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noData>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>No users available. You can enter the new user by add user form.</p>
      </div>
    </div>
  </div>
</ng-template>
