/* Styles for the bookstore card */
.bookstore-card {
  background-color: #ffcccc; /* Example color */
  border-radius: 5px;
  margin-bottom: 10px; /* Add margin to create space between cards */
}

/* Styles for the booklist card */
.booklist-card {
  background-color: #ccffcc; /* Example color */
  border-radius: 5px;
  margin-bottom: 10px; /* Add margin to create space between cards */
}
