<div class="card mb-3">
  <div class="card">
    <img src="{{ book.imgURL }}" class="card-img" alt="book image" />
    <div class="card-body">
      <h5 class="card-title">{{ book.title }}</h5>
      <p class="card-text">{{ book.description }}</p>
      <p class="card-text">
        <small class="text-muted">Price: ${{ book.price }}</small>
      </p>
      <div class="d-flex justify-content-between w-100">
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-primary">Delete</button>
        <button class="btn btn-primary">View More</button>
      </div>
    </div>
  </div>
</div>
